/*
Image
*/

.Image {
  &[data-layout='pull-right'] {
    padding-top: 22.721px;
    padding-bottom: 16px;
  }
}

@include breakpoint(sm) {
.Image {
    &[data-layout='pull-right'] {
      width: 40%; 
      float: right; 
      margin-left: 48px; 
      margin-bottom: 32px; 
      margin-top: 0;
    }
  }
}
