/* 
Form styles
*/

input,
textarea {
  background: var(--color-bg-mod-2);
  border: solid .2rem var(--color-border);
  border-radius: 0;
  outline: 2px solid var(--color-border);
  outline-offset: 0;
  padding: 4px var(--space-s);
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  color: var(--color-text);
  
  /* Disable browser extensions and password managers */
  &[data-form-type="other"] {
    -webkit-text-security: none !important;
    -webkit-autofill: none !important;
    -webkit-box-shadow: none !important;
    -webkit-background-clip: text !important;
    background-color: var(--color-bg-mod-2) !important;
    background-image: none !important;
  }
}

input::placeholder {
  color: var(--color-text-mod-1);
}

textarea {
  min-height: 96px;
  padding: 8px 16px;
}

select {
  background: var(--color-bg-mod-2);
  border: 0;
  cursor: pointer;
  font-size: 0.8rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline-style: none;
  width: 100%;

  &:after {
    color: var(--color-text);
    content: '▾';
    display: block;
    height: 14px;
    position: absolute;
    right: 24px;
    top: 16px;
    width: 14px;
  }
}

label {
  display: block;
  margin-bottom: var(--space-2xs);
}

form button {
  margin-top: var(--space-xs);
}

form:not([class]) {
  input {
    margin-bottom: 1rem;
  }
}
