node_modules/
public/
site/public
.vscode/*
static/fa7/*
!static/fa7/css/
!static/fa7/css/shim.css
static/vendor/fa7/

# Local Netlify folder
.netlify

# Hugo binary (too large for GitHub)
hugo
bin/

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
