<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  {{ partial "head.html" . .Section  }}
  <body id="top" class="wrapper h-card">
  <a class="skip-link" href="#main-content">Skip to main content</a>
  <a class="skip-link" href="#site-navigation">Skip to navigation</a>
  <a class="skip-link" href="#site-footer">Skip to footer</a>
  
  {{- partial "promo-banner.html" . -}}
  {{ partial "header.html" . }}

  <main id="main-content" role="main" aria-label="Main content">
  
    {{ block "main" . }}{{ end }}

  </main>

  {{ partial "newsletter.html" . }}

  {{ partialCached "footer.html" . .Type }}
  <!-- Store JS files independently -->
  {{ $emailmask := resources.Get "js/email-mask.js" }}
  {{ $themeToggle := resources.Get "js/theme-toggle.js" }}

  <!-- Concat JS, generate default app.js and app-likes -->
  {{ $defaultJS := slice $themeToggle | resources.Concat "app.js" }}
  <!-- Concat JS, generate default app.js and app-likes -->
  {{ $customJS := slice $emailmask $themeToggle | resources.Concat "app-custom.js" }}
  <!-- Set default -->
  {{ $script := $defaultJS }}
  <!-- If content is writing or subscribed oage, change script to custom to include email mask script -->
  {{ if or (eq .Type "writing") (eq .Path "/subscribed") }}
    {{ $script = $customJS }}
  {{ end }}
  <!-- Assign script to global, minify and fingerprint -->
  {{ $globalJS := $script | resources.Minify | resources.Fingerprint  }}
  <!-- Load script and authenticate hashed file -->
  <script src="{{ $globalJS.Permalink }}" integrity="{{ $globalJS.Data.Integrity }}"></script>

</body>
</html>