/* 
Global theme tokens
*/

:root {
  /* Typography */
  --font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-display: var(--font-base);
  --font-accent: "SF Mono", "Menlo", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --line-height-compact: 1.2;
  --line-height-base: 1.6;
  --line-height-loose: 1.7;
  --width-compact: 35ch;
  --width-longform: 60ch;
  --tracking: -0.001ch;
  --tracking-s: -0.03ch;
  /* 
  Colors created with Utopia Kickstarter project 
  @link https://www.figma.com/community/file/1122903924123950023
  */
 --color-text: #061b11;;           /* Main text: black */
--color-text-mod-1: #4a5a3a;     /* Slightly muted text in greenish tone */
--color-text-mod-2: #7c8f6a;     /* More muted secondary text */
  --color-bg: #ffffff;             /* Main background: white */
  --color-bg-mod-1: #ffffff;       /* Darker light green tint */
  --color-bg-mod-2: #dbe8cf;       /* Slightly deeper green tint */
--color-border: #97AB70;         /* Borders in accent color */
--color-brand: #123c27;          /* Brand color — Links */ 
/*rgb*/
--color-brand-rgb: 151, 171, 112; /* RGB for #97AB70 */
--color-accent: #97AB70;         /* Accent color */
--color-highlight: #e6f0d6;      /* Soft highlight for emphasis */

  
  @media (prefers-color-scheme: dark) {
    /* 
      If theme doesn’t require a dark mode then remove this media query altogether
    */
 --color-text: #f7fff1;         /* Main text: light green */
  --color-text-mod-1: #c9d5c0;   /* Slightly muted text */
  --color-text-mod-2: #aebda3;   /* More muted text */
  --color-bg: #061b11;           /* Main background: deep green */
  --color-bg-mod-1: #061b11;     /* Slightly lighter dark green */
  --color-bg-mod-2: #123c27;     /* Even lighter green tone */
  --color-border: #b5c88f;       /* Border/accent */
  --color-brand: #b5c88f;        /* Brand color */
  --color-accent: #b5c88f;       /* Accent color */
  }

  /* Grid */
  --gutter: var(--space-s-m);
  /* Effects */
  --border-radius: 0; // Set a rem value to add border radius to buttons, form elements, cards, callouts and accordians. 
  --shadow: 0px 3px 7px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.025);
}