<!-- Post Author. -->
<div class="cluster">
  <img alt="Tomás González" class="Avatar u-photo lazyload" data-src="{{ with .Site.Params.author.photo }}{{ . }}{{ else }}img/hc.jpg{{ end }}">
  <div>
    <p>Sign up to my newsletter &darr;</p>
  </div>
</div>

<!-- Microformat2 data -->
<div hidden>
  <a class="u-url" href="{{ .Permalink }}">{{ .Title }}</a>
  <p class="h-card p-author">
    <a class="p-name u-url" href="{{ $.Site.BaseURL }}" rel="author">{{ .Site.Params.author.name }}</a>
    <img alt="{{ .Site.Params.author.name }}" class="u-photo lazyload" data-src="{{ with .Site.Params.author.photo }}{{ . }}{{ end }}">
  </p>
</div>