<footer id="site-footer" class="region flow" role="contentinfo" aria-label="Site footer">
  <nav data-variant="footer" aria-label="Footer navigation" role="navigation">
    {{ $currentPage := . }}
    <div class="footer-nav-container">
      <ul class="cluster" role="menubar">
      {{ range .Site.Menus.footer }}
        <li role="none">
          <a data-variant="naked" {{ if eq $currentPage.RelPermalink .URL }}data-state="active" aria-current="page"{{ end }}
          href="{{.URL}}" role="menuitem">{{ .Name }}</a>
        </li>
      {{ end }}
      </ul>
      <a href="#top" class="scroll-to-top" data-variant="naked" aria-label="Scroll to top of page">
        <i class="fas fa-arrow-up" aria-hidden="true"></i>
        <span>Top</span>
      </a>
    </div>
  </nav>
  <p>&copy; {{ .Site.Params.author.name }} — <a href="/license">CC BY-NC-SA 4.0</a></p>
</footer>
